services:
  app:
    build:
      context: .
      dockerfile: ./.docker/app/Dockerfile
    restart: always
    ports:
      - 8080:8080
    environment:
      - APP_ENV=dev
    volumes:
      - .:/usr/src/app
    depends_on:
      - redis
      - firestore
    networks:
      - backend

  redis:
    image: redis:alpine
    restart: always
    ports:
      - 6379:6379
    networks:
      - backend

  firestore:
    image: mtlynch/firestore-emulator:latest
    restart: always
    platform: linux/amd64
    ports:
      - "8001:8001"
    environment:
      - FIRESTORE_PROJECT_ID=fake-project-id
      - PORT=8001
    networks:
      - backend

  couchbase:
    build:
      context: .
      dockerfile: ./.docker/couchbase/Dockerfile
    restart: always
    platform: linux/arm64
    ports:
      - 8091-8097:8091-8097
      - 9123:9123
      - 11207:11207
      - 11210:11210
      - 11280:11280
      - 18091-18097:18091-18097
    volumes:
      - ./.docker/couchbase/data:/opt/couchbase/var
    networks:
      - backend

networks:
  backend:
    driver: bridge
